/* Your custom styles */

.portfolio-block.cv {
  padding-top: 0px;
  padding-bottom: 0px;
}

.force-no-padding{
  padding: 0px !important;
}

.force-margin-small-bottom{
  margin-bottom: 0.5rem !important;
}

.force-margin-small-top{
  margin-top: 0.5rem !important;
}

@media (min-width:768px)
{
  .text-md-justify-custom{
    text-align:justify!important
  };
}

.force-no-height{
    height: 0px !important;
}

.force-card-up-margin{
    margin-top: 150px !important;
}

.avatar-large{
  width:200px !important;
  max-width: 200px !important;
  margin-top: -100px !important;
}
