a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 400;
  font-display: swap;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
  color: #444;
  line-height: 1.6;
  font-size: 1.4rem;
}
button {
  cursor: pointer;
  padding: 0;
  background-color: inherit;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
strong {
  font-weight: 700;
}
@media screen and (max-width: 640px) {
  html {
    font-size: 59%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}
@font-face {
  font-family: "Zilla Slab";
  src: url(file/zillaslab-400-normal.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Zilla Slab";
  src: url(file/zillaslab-700-normal.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Zilla Slab";
  src: url(file/zillaslab-400-italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Zilla Slab";
  src: url(file/zillaslab-700-italic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
/*!sc*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /*!sc*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
} /*!sc*/
[hidden] {
  display: none;
} /*!sc*/
body {
  line-height: 1;
} /*!sc*/
menu,
ol,
ul {
  list-style: none;
} /*!sc*/
blockquote,
q {
  quotes: none;
} /*!sc*/
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
} /*!sc*/
table {
  border-collapse: collapse;
  border-spacing: 0;
} /*!sc*/
html {
  -webkit-scrollbar-width: none !important;
  -moz-scrollbar-width: none !important;
  -ms-scrollbar-width: none !important;
  scrollbar-width: none !important;
  box-sizing: border-box;
  font-size: 59%;
} /*!sc*/
html::-webkit-scrollbar {
  display: none;
} /*!sc*/
*,
:after,
:before {
  box-sizing: border-box;
} /*!sc*/
body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
  font-display: swap;
} /*!sc*/
button {
  cursor: pointer;
  padding: 0;
  background-color: inherit;
} /*!sc*/
img {
  width: 100%;
  height: auto;
} /*!sc*/
a {
  -webkit-text-decoration: none;
  text-decoration: none;
} /*!sc*/
strong {
  font-weight: 700;
} /*!sc*/
data-styled.g2[id="sc-global-iKAKTM1"] {
  content: "sc-global-iKAKTM1,";
} /*!sc*/
.bUTvAQ {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1.3rem 0 2rem 0;
} /*!sc*/
data-styled.g4[id="sc-gEvEer"] {
  content: "bUTvAQ,";
} /*!sc*/
.fBhKxe {
  width: 2.6em;
  border-bottom: 2px solid;
  border-color: inherit;
  border-radius: 1px;
} /*!sc*/
data-styled.g5[id="sc-eqUAAy"] {
  content: "fBhKxe,";
} /*!sc*/
.gGbyS {
  font-size: 3.1049999999999995rem;
  line-height: 3.570749999999999rem;
  margin-bottom: 1.5rem;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .gGbyS {
    font-size: 3.4499999999999997rem;
    line-height: 3.9674999999999994rem;
    margin-bottom: 1.875rem;
  }
} /*!sc*/
@media screen and (min-width: 1024px) {
  .gGbyS {
    max-width: 40vw;
  }
} /*!sc*/
data-styled.g6[id="sc-fqkvVR"] {
  content: "gGbyS,";
} /*!sc*/
.ghGXPj {
  font-size: 4.6575rem;
  line-height: 5.1232500000000005rem;
  margin-bottom: 0.675rem;
  font-weight: 700;
  -webkit-letter-spacing: -0.04rem;
  -moz-letter-spacing: -0.04rem;
  -ms-letter-spacing: -0.04rem;
  letter-spacing: -0.04rem;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .ghGXPj {
    font-size: 5.175rem;
    line-height: 5.6925rem;
    margin-bottom: 1.0499999999999998rem;
  }
} /*!sc*/
@media screen and (min-width: 1024px) {
  .ghGXPj {
    max-width: 40vw;
  }
} /*!sc*/
data-styled.g7[id="sc-dcJsrY"] {
  content: "ghGXPj,";
} /*!sc*/
.MvYKP {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 2.6rem;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .MvYKP {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2.6rem;
  }
} /*!sc*/
data-styled.g8[id="sc-iGgWBj"] {
  content: "MvYKP,";
} /*!sc*/
.fyBGAU {
  width: 5.289999999999999rem;
  display: block;
  color: inherit;
  padding: 0;
  cursor: pointer;
} /*!sc*/
.fyBGAU:hover {
  opacity: 0.8;
} /*!sc*/
data-styled.g9[id="sc-gsFSXq"] {
  content: "fyBGAU,";
} /*!sc*/
.fQGVnG {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .fQGVnG {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
} /*!sc*/
.fQGVnG img {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  max-width: 16.2rem;
  min-width: 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .fQGVnG img {
    max-width: 18rem;
  }
} /*!sc*/
data-styled.g11[id="sc-imWYAI"] {
  content: "fQGVnG,";
} /*!sc*/
.knbfQq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} /*!sc*/
data-styled.g12[id="sc-jXbUNg"] {
  content: "knbfQq,";
} /*!sc*/
.dvNbMk {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
} /*!sc*/
data-styled.g20[id="sc-dLMFU"] {
  content: "dvNbMk,";
} /*!sc*/
.fPkwHl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 2.07rem;
  cursor: pointer;
  padding: 1.1rem 1.6rem 1rem 1.6rem;
  background-color: #212121;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .fPkwHl {
    font-size: 2.3rem;
  }
} /*!sc*/
.fPkwHl:hover {
  box-shadow: 1rem 1rem 3.15rem 0 rgba(0, 0, 0, 0.25);
} /*!sc*/
data-styled.g21[id="sc-eDPEul"] {
  content: "fPkwHl,";
} /*!sc*/
.cpQztg {
  padding: 0 0.6rem 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} /*!sc*/
.cpQztg svg {
  height: 2.07rem;
  margin: 0;
  padding: 0;
  fill: #fff;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .cpQztg svg {
    height: 2.3rem;
  }
} /*!sc*/
data-styled.g22[id="sc-eldPxv"] {
  content: "cpQztg,";
} /*!sc*/
.gALhrM {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 95%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 10px 90px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  -webkit-animation: fadeIn 2s ease;
  animation: fadeIn 2s ease;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
} /*!sc*/ /*!sc*/
@media screen and (min-width: 1024px) {
  .gALhrM {
    width: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
} /*!sc*/
@media screen and (min-width: 1280px) {
  .gALhrM {
    max-width: 1000px;
  }
} /*!sc*/
data-styled.g23[id="sc-fPXMVe"] {
  content: "gALhrM,";
} /*!sc*/
.bQHkoE {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  border-radius: 0.8rem;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  padding: 3.5999999999999996rem;
} /*!sc*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} /*!sc*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} /*!sc*/
.bQHkoE > :first-child {
  margin-top: 0 !important;
  margin-left: 0 !important;
} /*!sc*/
.bQHkoE > :last-child {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .bQHkoE {
    width: 100%;
    border-radius: 0.8rem;
  }
} /*!sc*/
@media screen and (min-width: 1024px) {
  .bQHkoE {
    padding: 6rem;
  }
} /*!sc*/
data-styled.g24[id="sc-gFqAkR"] {
  content: "bQHkoE,";
} /*!sc*/
.kjIYXU > :first-child {
  margin-top: 0 !important;
  margin-left: 0 !important;
} /*!sc*/
.kjIYXU > :last-child {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
} /*!sc*/
data-styled.g25[id="sc-ikkxIA"] {
  content: "kjIYXU,";
} /*!sc*/
.khvCCR {
  width: 100%;
  min-height: 100vh;
  padding: 5% 2.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1511576661531-b34d7da5d0bb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwMTg4M30);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  color: #000000d9;
  font-family: Zilla Slab, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
} /*!sc*/
@media screen and (min-width: 1024px) {
  .khvCCR {
    padding: 2.5%;
  }
} /*!sc*/ /*!sc*/
data-styled.g27[id="sc-dAbbOL"] {
  content: "khvCCR,";
} /*!sc*/
