<style>
.nomargin {
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.row-bottom-margin { 
    margin-bottom:-20px!important; 
}

.row-top-margin { 
    margin-top:-20px!important; 
}

</style>
    <div class="row row-bottom-margin row-top-margin" >
        <div class="form-group col-lg-6">
            <label for="fromNameTextField">Name</label>
            <input class="form-control" id="fromNameTextField" >
        </div>

        <div class=" form-group col-lg-6">
            <label for="fromEmailTextField">Email</label>
            <input type="email" class="form-control" id="fromEmailTextField" >
        </div>  
    </div>
    
    <div class="row row-bottom-margin row-top-margin">
        <div class="form-group col-lg-12">
            <label for="subjectTextField">Subject</label>
            <input class="form-control" id="subjectTextField">
        </div>
    </div>

    <div class="row row-bottom-margin row-top-margin">
        <div class="form-group col-lg-12">
            <label for="bodyTextField">Body</label>
            <textarea class="form-control" rows="3" id="bodyTextField"></textarea>
        </div>
    </div>

    <div class="row row-bottom-margin row-top-margin">
        <div class="text-center">
            <a class="btn btn-default" href="javascript:sendContactMeEmail();">Send Email</a>
        </div>
    </div>





<script>
    var stringTextField = document.getElementById('stringTextField');
    var passwordTextField = document.getElementById('passwordTextField');
    var fromNameTextField = document.getElementById('fromNameTextField');
    var fromEmailTextField = document.getElementById('fromEmailTextField');
    var subjectTextField = document.getElementById('subjectTextField');
    var bodyTextField = document.getElementById('bodyTextField');

    var toEmail = "samermetri@gmail.com";

    function sendContactMeEmail(){
        if (!fromNameTextField.value || !fromEmailTextField.value || !subjectTextField.value || !bodyTextField.value )
        return;

        if (!validateEmail(fromEmailTextField.value)){
            alert("Your email is not valid. Please try again.")
            return;
        }

        var obj = new SendEmail_obj(toEmail, bodyTextField.value, fromEmailTextField.value, fromNameTextField.value, subjectTextField.value);
        CallWebService('SendEmail', obj, function (data){
            if (data.IsError){
                alert(data.Msg);
            }else{
                alert("Email Sent");
            }
        });
    }


    // Objects
    function SendEmail_obj (ToAddress, Body, FromAddress, FromName, Subject) {
        this.ToAddress = ToAddress;
        this.Body = Body;
        this.FromAddress = FromAddress;
        this.FromName = FromName;
        this.Subject = Subject;
    }

    // Webservice Call
    function CallWebService(functionName, d, successFunction) {
        try {
            var mainURL = window.location.protocol + '//asp.samermetri.com/Dev/encryptwebservices.asmx/'
            $.ajax({
                type: 'POST',
                url: mainURL + functionName,
                data: JSON.stringify(d),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (typeof successFunction === 'function')
                        successFunction(response.d);
                },
                error: function (error) {
                    console.warn("Error During Ajax Call \n\n" + GetObjectAsString(error));
                }
            });
        } catch (err) {
            reportError(err.message);
        }
    }

    //Validation
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
</script>
