<div class="jumbotron" id="nav-jumbo">
    <div class="containter">
    <!-- <h1>home information will go here eventually</h1> -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">

                <div class="card hovercard">
                    <div class="cardheader"></div>


                    <div class="avatar">
                        <img alt="" src="content/files/profilepic.jpg">
                    </div>
                    <div class="info">
                        <div class="title">
                            Samer Metri
                        </div>
                        <div class="desc">Curious Researcher</div>
                        <div class="desc">Passionate Learner</div>
                        <div class="desc">Tech geek</div>
                    </div>

                    <div class="middle">
                        Some content here
                    </div>

                    <div class="bottom">
                        Footer of some sort here.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

