<style>
.fab {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index:100;
};
</style>

<div class="container" style="padding-top: 25px">
    <h2>Resume</h2>


    <!-- GPA and Education -->

    <!-- employment history -->
    <div ng-repeat="job in experience">
        <employment-information info="job"></employment-information>
    </div>


    <!-- skils -->
    <div class="row">
	    <div ng-repeat="skill in skills">
	        <skills-information info="skill"></skills-information>
	    </div>
    </div>

    <!-- FAB -->
    <fab icon="'save'" href="'javascript:downloadResume();'"></fab>
</div>

<script>
    function downloadResume(){
        var link = document.createElement('a');
            link.href = "/content/files/resume.pdf";
            link.download = 'SamerMetri_Resume.pdf';
            link.dispatchEvent(new MouseEvent('click'));
            //link.click();
    }
</script>
