<style>
	.vertical-align{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
	    font-size: 35px;
	    color: #757575;
	}

	.jumbo{
		text-align: center;
		background: transparent;
		background-size:cover;
		background-repeat:no-repeat;

	}

	 h1 {	
		text-shadow: none;
		font-size: 100px;
		font-weight: bold;
		display: inline;
		margin-bottom: none;
		padding-bottom: none;
	}

	span{
		display: inline-block;
	}
</style>


<div class=" vertical-align">
    	<h1>404</h1><span>... not found <i class="mdi mdi-emoticon-sad mdi-36px"></i></span>
    	<p><a class="mdi mdi-home mdi-home mdi-36px" href="/">Home</a></p>
    </div>
