/*Code for sticky footer*/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #3E4551;
}


/*Footer Design*/
.footer.footer-default {
	background-color: #3E4551; 
	border-color: #3E4551;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-default .container {
	background-color: #3E4551;
	border-color: #3E4551;
	color: #DDDDDD;
	font-size: 16px;
}

.footer a {
    color: #DDDDDD;
}

.footer-default .container .footer-header {
	color: #DDDDDD;
	text-shadow: none;
	margin-top: 4px;
	margin-bottom: 0px;

}

