/*
	NavBar Color: Stylish-Color-Dark : http://mdbootstrap.com/css/colors/
*/

/*without this, the text will go under the navbar*/
body{
	padding-top: 35px;
}

.navbar.navbar-default {
	background-color: #3E4551; 
	border-color: #3E4551;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-default .container {
	background-color: #3E4551;
	border-color: #3E4551;
}

.navbar-default .container .navbar-header a {
	color: #DDDDDD;
	text-shadow: none;
}

.navbar-default .navbar-toggle {
	border-color: #009486;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #009486;
}

#navright a {
	color: #DDDDDD;
	text-shadow: none;
	padding-right: 0px;
}

#nav-jumbo {
	text-align: center;
	background: transparent;
	background-size:cover;
	background-repeat:no-repeat;
	background-image: url("../img/space.png");
}

#nav-jumbo h1 {
	color: #DDDDDD;
	text-shadow: none;
}

#nav-jumbo h4 {
	color: #DDDDDD;
	text-shadow: none;
}





