.panel-heading {
	background-color: #C6C6C6!important;
}

/*Let's make the text smaller on mobile devices.*/
@media (max-width: 768px) {

    /*this will change the date*/
    .panel-heading{
    	font-size: 10px!important;
    }

    /*This will change the job title*/
    h4{
    	font-size: 12px!important;
    }

    /*Need to make the description smaller to match the rest of the panel.*/
    .panel-body{
    	font-size: 12px!important;
    }
}
